<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SimplilearnRegistrationForm</display-name>
  <welcome-file-list>
    <welcome-file>simplilearnregform.jsp</welcome-file>
  </welcome-file-list>
  
    <servlet>
  	<description>This is Servlet for Simplilearn Registration Form</description>
  	<display-name>SimplilearnRegistrationForm</display-name>
  	<servlet-name>SimplilearnRegistrationForm</servlet-name>
  	<servlet-class>com.simplilearn.servlet.SimplilearnRegistrationForm</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>SimplilearnRegistrationForm</servlet-name>
  	<url-pattern>/simplirecruit</url-pattern>
  </servlet-mapping>
  
</web-app>